@font-face 
{
        font-family: GravitasOne-Regular;
        src: url("../Fonts/Gravitas_One/GravitasOne-Regular.ttf");
}
@font-face 
{
        font-family: AlfaSlabOne-Regular;
        src: url("../Fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
}
@keyframes slide 
{
    from
    {
        margin-right: -500px;
    }
    to
    {
        margin-right: 75px;
    }
}
body
{
    background-color: black;
    margin: 0;
}
main
{
    margin-top: 100px;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 32, 32, 0.646);
    position: fixed;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 20px;
    z-index: 9999;
}
header ul
{
    display: flex;
    gap: 25px;
    list-style: none;
}
header a
{
    text-decoration: none;
    font-family: GravitasOne-Regular;
    color: rgb(59, 55, 48);
    display: inline-block;
    padding: 3px;
    transition: all 0.75s;
}
header a:hover
{
    background-color: rgb(245, 6, 6);
    scale: 1.25;
    border-radius: 10px;
    color: antiquewhite;
}
h1
{
    font-family: GravitasOne-Regular;
    font-size: 250%;
    text-align: right;
    color: red;
    margin-right: 75px;
    animation-name: slide;
    animation-duration: 1.5s;
}
.pulpfiction
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.pulpfiction p
{
    color: bisque;
    font-family: AlfaSlabOne-Regular;
    font-size: 115%;
    text-align: justify;
    width: 550px;
}
.pulpfiction img
{
    height: 300px;
    padding-bottom: 200px;
}
footer
{
    border-top: 1px solid rgb(99, 5, 5);
}
footer ul
{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    list-style: none;
    color: gray;
    font-size: 50%;
    font-family: AlfaSlabOne-Regular;
}
footer a
{
    text-decoration: none;
    color: gray;
}